{{#> layout title="MyProject"  user=user}}
{{#if messages.message}}
{{{sendAlert messages}}}
{{/if}}
{{#if messages.option}}
{{{sendAlertOption option}}}
{{/if}}

<div class="background-project">

    <section class="project-list">

        <h1 >My Project</h1>
      
        <br><br>
        {{#if user}}
        <p class="text-center"><a href='/my-project-add'class="btn btn-primary ">New Project</a></p>
        {{/if}}
        
        <div  id="project-list" class="project-flex">
          
          {{#each project}}
         <div id="${i}" class="card project-card">
                  <div class="card-image">
                    <img src="{{this.image}}" alt="">
                    <a class="card-name" href="/projectDetail/{{this.id}}">{{this.title}} | {{this.user.username}}</a>
                    <p> <i class="fa-regular fa-clock"></i> Duration : {{duration}}</p>
                     <p><i class="fa-regular fa-calendar-days"></i> Date : {{Time this.createdAt}}</p>
                  </div>
                  <div class="real"><p>{{truncateText this.content}}</p></div>

                  <div class="card-content">
                  <p class="real-time">{{getRelativeTime this.createdAt}}</p>
                    <div class="card-icons mt-4">
                      {{#each this.icons}}
                      <i class="{{this}}"></i>
                      {{/each}}
                    </div>
    
                    <div class="button-card">
                     
                        <a class="btn btn-edit" href="/my-project-edit/{{this.id}}">Edit</a>
                        
                      <form action="/blog-delete/{{this.id}}?_method=DELETE" method="post">
                        <button class="btn btn-delete" type="button" onclick="confirmDelete">Delete</button>
                      </form>
                    </div>
                  </div>
        </div>
        
        {{else}}
        <h3 id="noPost" style="margin:100px auto;justify-content:center;grid-area:myArea;color: rgb(189, 189, 189); ">Deploy your project</h3>
        {{/each}}
        
        </div>
    </section>
</div>
    
   {{/layout}}
